[data-component="cta"] {
  display: inline-block;
  padding: 1vw;
  background: magenta;
  color: #fff;
  text-transform: uppercase;
  font-size: clamp(20px, calc(1.25rem + ((1vw - 3.75px) * 0.6472)), 30px);
  text-decoration: none;
  font-weight: bold;
  margin: 2vh 0;
}
