<link rel="stylesheet" href="./text-block.scss">
<script src="./TextBlock.ts"></script>

<div data-component="text-block">
  {{> atom/heading heading className='heading-1' }}
  <ul class="visuals-overview-list">
    {{#each visuals}}
    <li>
      {{> atom/visual this }}
    </li>
    {{/each}}
  </ul>
  {{> atom/text text }}
  {{> atom/cta cta }}
</div>
