:root {
  font-size: 62.25%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  height: 100%;
}

body {
  height: 100%;
}
